@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --loader-width: 150px;
  --loader-height: 5px;
  --loader-box-width: 500px;
  --navbar-height: 50px;
  --sidebar-width: 224px;
  --sidebar-link-div-height: 240px;
  --selected-district-height: 25px;
  --main-view-height: calc(
    100vh - (var(--navbar-height) + var(--selected-district-height))
  );
  --overview-view-height: 152px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  margin: 0;
  padding: 0;

  font-family: 'Lato', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

/* Custom Scrollbar */
body::-webkit-scrollbar {
  z-index: 1000000000000;
  position: absolute;
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: #333340;
  border-radius: 10px;
}

.selected-district {
  height: var(--selected-district-height);
}

.overview-view {
  height: var(--overview-view-height);
}

.navbar {
  height: var(--navbar-height);
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar-links-div {
  height: var(--sidebar-link-div-height);
}

.sidebar-tools-div {
  height: calc(var(--main-view-height) - var(--sidebar-link-div-height));
}

.main-view {
  height: var(--main-view-height);
}

.card-shadow {
  box-shadow: 0px 0px 7px 0.5px rgba(34, 76, 143, 0.5);
}

.processing {
  animation: processing 1.5s linear infinite;
}

@keyframes processing {
  to {
    transform: rotate(360deg);
  }
}

.search-popper {
  transition: max-height 0.5s;
}

.search-popper::-webkit-scrollbar {
  display: none;
}

.bar-loader {
  height: var(--loader-height);
  width: var(--loader-width);
  opacity: 0;

  animation: loader-transform 1s cubic-bezier(0.65, 0.05, 0.36, 1) infinite
      alternate,
    loader-opacity 1s linear infinite alternate;
}

@keyframes loader-transform {
  to {
    opacity: 0;
    transform: translate(
      calc(var(--loader-box-width) - calc(var(--loader-width)))
    );
  }
}

@keyframes loader-opacity {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.reset-spinner {
  transform: rotate(0deg);

  animation: reset 1.5s ease-out;
}

@keyframes reset {
  to {
    transform: rotate(360deg);
  }
}

.loader-box {
  width: var(--loader-box-width);
}

.text-gradient {
  background: rgb(29, 29, 236);
  background: rgb(29, 29, 236);
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    rgba(65, 65, 255, 1) 12%,
    rgba(19, 92, 235, 0.8) 44%,
    rgba(0, 168, 255, 0.9) 79%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.info-window {
  position: absolute;
  width: 150px;
  height: 50px;
  transform: translate(-50%, -140%);
  box-shadow: 0px 0px 10px 3px rgba(34, 76, 143, 0.5);
  border-radius: 12px;
  border: 2px solid rgb(0 130 255 / 0.3);
}

.login {
  box-shadow: 0px 0px 10px 1px rgba(34, 76, 143, 0.5);
  border-radius: 4px;
  border: 2px solid rgb(0 130 255 / 0.3);
  background-color: rgb(25 120 200 / 0.2);
}

.road-marker {
  font-weight: 900;
  position: absolute;
  transform: translate(-50%, -50%);
}

.map-spinner-container {
  height: 5000px;
  width: 5000px;
  font-size: 2rem;
  color: #00ffffaa;
  font-weight: 1000;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.map-spinner-icon {
  animation: spinner 0.5s ease-in-out infinite;
}

@media screen and (max-width: 640px) {
  :root {
    --loader-width: 100px;
    --loader-height: 5px;
    --loader-box-width: 300px;
  }
  .loader-box {
    max-width: var(--loader-box-width);
    overflow: hidden;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --sidebar-width: 0px;
  }
}
